@media only screen and (max-width:1920px){
    nav{
        background-color: rgba(0, 0, 0, 0.288);
    }
    .nav-li a{
        padding: 0.5em;
        color: white;
    }
}
@media only screen and (max-width:1300px){
    .skills-div2{
        flex-direction: column;
    }
    .about-me-div1, .about-me-div2{
        max-width: 30em;        
    }
}

@media only screen and (max-width:1150px){
    main .about-me{
        flex-direction: column;
        padding: 2em 0;
    }
    .about-me-div1, .about-me-div2{
        max-width: 40em;        
    }
    main .skills{
        padding: 4em 0;

    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 900px;
    }
}
@media only screen and (max-width:950px){
    .projects-div2-child img, .projects-div3-child img{
        max-width: 700px;
    }
}

@media only screen and (max-width:750px){
    .projects-div2-child img, .projects-div3-child img{
        max-width: 500px;
    }

    .contact-div2-form-item{
        width: 35em;
    }
}

@media only screen and (max-width:650px){
    header > div nav {
        top: 0.2em;
        left: 0.2em;
        transform: scale(0.7);
    }
    .skills-div1-child{
        display: block;
    }
    .skills-content{
        display: none;
        max-width: 30em;;
    }
    .active-tab{
        display: block;
    }
    .active-link{
        text-decoration: underline;
    }
    .skills-div2-child1,.skills-div2-child2{
        height: 13em;
        padding: 1em;
    }
}

@media only screen and (max-width:550px){
    .skills-div2-child1,.skills-div2-child2{
        height: 15em;
    }
    .skills-content{
        max-width: 20em;;
    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 300px;
    }
    .contact-div2-form-item{
        width: 25em;
    }
    
}
@media only screen and (max-width:350px){
    *{
        font-size: 0.95em;
    }
    main{
        padding: 1em 0;
    }
    .skills-div2-child1,.skills-div2-child2{
        height: 17.5em;
    }
    .contact-div2-form-item{
        width: 15em;
    }
}