@media only screen and (max-width:1920px){
    .nav-1920{
        font-size: 1.5em;
    }
    .skills-div2{
        flex-direction: column;
    }
    .about-me-div1, .about-me-div2{
        max-width: 30em;        
    }
}
@media only screen and (max-width:1300px){
    .skills-div2{
        flex-direction: column;
    }
    .about-me-div1, .about-me-div2{
        max-width: 30em;        
    }
    .nav-li a{
        background-color: rgba(212, 212, 212, 0.959);
    }
    .nav-li a:hover{
        text-decoration:underline;
        font-weight: bold;
    }
}
@media only screen and (max-width:1150px){
    .nav-1920{
        font-size: 1.2em;
    }
    main .about-me{
        flex-direction: column;
        padding: 2em 0;
    }
    .about-me-div1, .about-me-div2{
        max-width: 40em;        
    }
    main .skills{
        padding: 4em 0;
    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 900px;
    }
}
@media only screen and (max-width:950px){
    .burger-menu-close{
        padding-top: 0.5em;
    }
    .nav-li{
        margin:  -1em 0;
    }
    main .about-me{
        padding: 8em 0 2em 0;
    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 700px;
    }
}
@media only screen and (max-width:750px){
    .nav-1920{
        font-size: 1em;
    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 500px;
    }
    .contact-div2-form-item{
        width: 35em;
    }
}
@media only screen and (max-width:650px){
    main * {
        text-align: center;
    }
    .burger-menu-open{
        background-color: rgb(28, 194, 28);
    }
    main .about-me{
        padding: 8em 0 2em 0;
    }
    .skills-div1-child{
        display: block;
    }
    .skills-content{
        display: none;
        max-width: 30em;;
    }
    .active-tab{
        display: block;
    }
    .active-link{
        text-decoration: underline;
    }
    .skills-div2-child1,.skills-div2-child2{
        height: 15em;
        padding: 1em;
    }
}
@media only screen and (max-width:550px){
    .nav-responsive{
        top: 0.5em;
    }
    main .about-me{
        padding: 6em 0 2em 0;
    }
    .nav-1920{
        font-size: 0.7em;
    }
    .nav-responsive{
        width: 8em;
    }
    .skills-div2-child1,.skills-div2-child2{
        height: 16.5em;
    }
    .skills-content{
        max-width: 20em;;
    }
    .projects-div2-child img, .projects-div3-child img{
        max-width: 300px;
    }
    .contact-div2-form-item{
        width: 25em;
    }
    .footer-div-child{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width:350px){
    *{
        font-size: 0.95em;
    }
    main{
        padding: 1em 0;
    }
    .nav-responsive{
        width: 5.5em;
    }
    main .about-me{
        padding: 8em 0 2em 0;
    }
    .skills-div2-child1,.skills-div2-child2{
        height: 17.5em;
    }
    .skills-div2-child2-icons img{
        margin: 0 -3em;
        transform: scale(0.3);
    }
    .contact-div2-form-item{
        width: 15em;
    }
    .contact-div2-form input{
        padding: 0.3em;
    }
}