html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*  */
/*  */

/* Start - Header */
header {
    justify-content: center;
    background-color: #cbccce;
    z-index: 10000;
}
header *{
    text-transform: uppercase;
    font-family: fantasy;
}
header > div{
    max-height: 870px;
    position: sticky;
    z-index: 21312;
}
header > div .nav-background{
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 0.9em black;
}
header > div nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.nav-1920{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    gap: 2em;
    top: 2em;
    right: 2em;
}
.nav-li-1920{
   list-style: square;
}
.nav-li-1920 a{
    text-decoration: none;
    color: black;
}
.nav-li-1920 a:hover{
    color: whitesmoke;

}

/* End - Header */

/*  */
/*  */

/* Start - Main */
main{
    margin-top: -220px;
}
main *{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.3em;
}

/* Start - responsive navigation */
.nav-responsive{
    position:sticky;
    top: 2em;
    margin-left: 1em;
    overflow: hidden;
    width: 10em;
}
.nav-responsive-ul{
    transform: translateY(-250px);
    transition: transform 300ms;
}
.burger-menu-open,
.burger-menu-close{
    border-radius: 50%;
    cursor: pointer;
}
.burger-menu-open:hover{
    background-color: lightgreen;
}
.burger-menu-close:hover{
    background-color: rebeccapurple;
}
.nav-li{
    padding: 0.5em 0;
}
.nav-li a{
    color: black;
    font-size: 1.2em;
    text-decoration:none;
    text-transform: capitalize;
    background-color: rgba(143, 143, 143, 0.082);
}
.nav-li a:hover{
    text-decoration:underline;
    font-weight: bold;
    z-index: 100;
}
/* End - responsive navigation */

/* Start - about me */
main .about-me{
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    padding: 8em 0;
}
.about-me-div1, .about-me-div2{
    max-width: 40em;
    height: 13em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

/* End - about me */

/* Start - skill */
.skills{
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 6em 0;
    gap: 5em;
}
.skills-div1{
    max-width: 50em;
    padding: 1em;
    text-align: center;
}
.skills-div1-child{
    display: none;
    margin-top: 2em;
    background-color: whitesmoke;
}
.skills-div1 h2 {
    margin-bottom: 1em;
}
.skills-div2{
    gap: 2em;
}
.skills-div2-child1,.skills-div2-child2{
    max-width: 40em;
    border: 1px solid darkslategray;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    padding: 2em 1em;
    background-color: whitesmoke;
    box-shadow:inset 0 0 0.3em gray;
}
.skills-div2-child2{
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}
.skills-div2-child2-repsonsive{        
    flex-direction: column;
    gap: 3em;
}
.skills-div2-child2-icons img{
    margin:-1.5em;
    transform: scale(0.5);
}
/* End - skill */

/* Start - projects */
.projects {
    flex-direction: column;
    align-items: center;
    padding: 6em 0;
    gap: 2em;
    background-color: whitesmoke;
}
.projects-div2, .projects-div3{
    overflow: hidden;
}
.projects-div2-child img, .projects-div3-child img{
    max-width: 1100px;
    width: 100%;
    transition: transform 200ms;
}
.projects-div2-child img:hover, .projects-div3-child img:hover{
    transform: scale(1.05);
}
.projects-div1{
    text-align: center;
    max-width: 50em;
}
/* End - projects */


/* Start - contacts */

.contact{
    flex-direction: column;
    align-items: center;
    gap: 3em;
    padding: 5em 0;
}
.contact-div1{
    max-width: 30em;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.contact-div2-form{
    flex-direction: column;
    gap: 1em;
}

.contact-div2-form-item{
    width: 55em;
}
.contact-div2-form input{
    padding: 1em;
}
.contact-div2-form input:focus,
.contact-div2-form textarea:focus{
    outline-style:none;
    padding-left: 2em;
}
.contact-div2-form textarea{
    padding: 3em 1em;
    resize: vertical;
}
.contact-div2-form button{
    padding: 1em;
    background-color: rgb(143, 24, 255);
    border: none;
    border-radius: 1em;
    color: white;
    cursor: pointer;
}
.contact-div2-form button:hover{
    background-color: rgb(60, 4, 112);
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
 /* End - contacts */
/* End - Main */

/*  */
/*  */

/* Start - Footer */
.footer-div{
    justify-content: center;
    align-items: center;
    height: 15em;
    background-color: #343a40;    
}
.footer-div a{
    text-decoration: none;
    margin: 1em;
}
.footer-div a img{
    width: 2.5em;
    height: 2.5em;
}
.footer-svg{
    border-radius: 50%;
    background-color: white;
    transform: scale(1.5) rotate(-7deg);
}
/* End - Footer */

/*  */
/*  */

/* h
#24262a
p
#4d5055 */
.display{
    display: flex;
}